.titlebar {
    position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
    height: 50px;
    background-color: transparent;
    -webkit-app-region: drag;
    
  }

.divler{
    position: flex;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    right: 0;
    background-color: transparent;
    color: aliceblue;
    z-index: 1;
    
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    opacity: 50%;
  }

  .viewport-header {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }

  .networktables {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    flex-grow: 1;
    font-size: x-large;
    background-color: transparent; 
    color: aliceblue;
    opacity: 1;
    z-index: 1;
  }

  .fade-in {
    animation: fade 2s infinite;
  }

  @keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
  }

@keyframes color-change {

    100%,
    0% {
        color: rgb(255, 0, 0);
    }
  
    8% {
        color: rgb(255, 127, 0);
    }
  
    16% {
        color: rgb(255, 255, 0);
    }
  
    25% {
        color: rgb(127, 255, 0);
    }
  
    33% {
        color: rgb(0, 255, 0);
    }
  
    41% {
        color: rgb(0, 255, 127);
    }
  
    50% {
        color: rgb(0, 255, 255);
    }
  
    58% {
        color: rgb(0, 127, 255);
    }
  
    66% {
        color: rgb(0, 0, 255);
    }
  
    75% {
        color: rgb(127, 0, 255);
    }
  
    83% {
        color: rgb(255, 0, 255);
    }
  
    91% {
        color: rgb(255, 0, 127);
    }
  }

body{
    background-color: black;
}